<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Logger_Base_Directory" value="C:\Users\WDAGUtilityAccount\Documents"/>
		<add key="Logger_Filename" value="AutoLogOff"/>
		<add key="Logger_Archive_Folder" value="archive"/>
		<add key="SMTP_SSL_Host" value="smtp.gmail.com"/>
		<add key="SMTP_SSL_Port" value="465"/>
		<add key="Sender_Email" value="micpowers98@gmail.com"/>
		<add key="Sender_Email_Password" value="nfsw tybo aqlf kttg"/>
		<add key="To_Email" value="info@milfordlib.org"/>
		<add key="CC_Email" value="micpowers98@gmail.com"/>
		<add key="DEBUG" value="true"/>
	</appSettings>
</configuration>