<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

	<targets>
		<!-- File target with archiving -->
		<target name="logfile" xsi:type="File"
				fileName="${configsetting:item=Logger_Base_Directory}/${configsetting:item=Logger_Filename}"
				archiveFileName="${configsetting:item=Logger_Base_Directory}/${configsetting:item=Logger_Archive_Folder}/{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="30"
				layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=ToString}">
		</target>

		<!-- Console target for debugging -->
		<target name="console" xsi:type="Console"
				layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=ToString}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>